name: Elixir CI/CD with Docker Hub

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:13
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: javolimkrafnu123
          POSTGRES_DB: mtg_pula_test
    steps:
      - uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.17'
          otp-version: '27.0'

      - name: Set environment variables
        run: echo "DB_HOST=localhost" >> $GITHUB_ENV

      - name: Install dependencies
        run: mix deps.get

      - name: Set up database
        env:
          MIX_ENV: test
        run: |
          mix ecto.create
          mix ecto.migrate

      - name: Run tests
        env:
          MIX_ENV: test
        run: mix test

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Register QEMU for ARM emulation
        run: |
          docker run --rm --privileged docker/binfmt:a7996909642ee92942dcd6cff44b9b95f08dad64

      - name: Build and Push Docker Image for ARMv7
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/mtg_pula:armv7
          platforms: linux/arm/v7
          build-args: |
            BUILDER_IMAGE=arm32v7/elixir:1.18-otp-27
            RUNNER_IMAGE=arm32v7/debian:bullseye
